[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
sqlalchemy = "*"
flask = "*"
psycopg2-binary = "*"
saga-py = "*"
flask-sqlalchemy = "*"
sqlalchemy-mixins = "*"
requests = "*"
asyncapi = {extras = ["docs", "http", "redis", "subscriber", "yaml"], version = "*"}
python-log-indenter = "*"
mimesis = "*"

[dev-packages]

[requires]
python_version = "3.8"
